/root/*
!/root/parent
/root/parent/*
/root/parent/*/**
!root/parent/child
/root/parent/child/*
/root/parent/child/*/**
!/root/parent/child/docroot
/root/parent/child/docroot/*
!/root/parent/child/docroot/README.md

